<li>
  <div style="margin-top: 50px;">
    <%= comment.body %>
    <p><%= comment.author.full_name %></p>
    <%= link_to 'Reply', new_post_comment_path(post, { comment: { parent_id: comment.id } }), class: 'btn btn-secondary', style: 'margin-bottom: 10px;' %>

    <% if comment.author == current_user %>
      <%= button_to 'Edit Comment', edit_post_comment_path(post, comment), method: :get, class: 'btn btn-secondary', style: 'margin-top: 20px;' %>
      <%= button_to 'Delete Comment', post_comment_path(post, comment), method: :delete, class: "btn btn-danger", style: 'margin-top: 20px;' %>
    <% end %>
  </div>

  <% if comment.children.any? %>
    <ul>
      <% comment.children.each do |children| %>
        <%= render partial: "comments/shared/comment", locals: { post: post, comment: children } %>
      <% end %>
    </ul>
  <% end %>
</li>
