<h1><%= post.title %></h1>
<p><%= post.body %></p>
<p><%= post.author.full_name %></p>

<div style="margin-top: 50px;"></div>

<% if post.author == current_user %>
  <%= button_to 'Edit Post', edit_post_path(post), method: :get, class: 'btn btn-secondary', style: 'margin-bottom: 10px;' %>
  <%= button_to 'Delete Post', post_path(post), method: :delete, class: "btn btn-danger", style: 'margin-bottom: 10px;' %>
<% end %>

<%= button_to 'Back To All Posts', posts_path, method: :get, class: 'btn btn-primary' %>

<hr style="margin-top: 50px; margin-bottom: 50px;">

<h2>Comments</h2>

<%= render partial: "comments/shared/form", locals: { post: post, comment: comment, edit: false, parent_id: nil } %>

<ul>
  <% post.comments.where(parent_id: nil).each do |comment| %>
    <%= render partial: "comments/shared/comment", locals: { post: post, comment: comment } %>
  <% end %>
</ul>
